@font-face {
    font-family:'bebasNeueRegular';
    src:url('/fonts/BebasNeue-Regular.woff');
}
@font-face {
    font-family:'montserratRegular';
    src:url('/fonts/Montserrat-Regular.woff');
}
@font-face {
    font-family:'montserratBold';
    src:url('/fonts/Montserrat-SemiBold.woff');
}
@font-face {
    font-family:'ralewaySemiBold';
    src:url('/fonts/Raleway-SemiBold.woff');
}
@font-face {
    font-family:'ralewayBold';
    src:url('/fonts/Raleway-Bold.woff');
}