// Size
$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Colors
$defaultBackgroundColor: #ffffff;
$defaultTextColor: #363636;

$primaryColor: #388e3c;
$lightPrimaryColor: #6abf69;
$darkPrimaryColor: #00600f;
$textPrimaryColor: #ffffff;

$secondaryColor: #fdd835;
$lightSecondaryColor: #ffffff6b;
$darkSecondaryColor: #c6a700;
$textSecondaryColor: #000000;

$successColor: #26de81;
$dangerColor: #fc5c65;
$warningColor: #fed330;

// Fonts
$menuFont: 'bebasNeueRegular';
$textFont: 'montserratRegular';
$textFontBold: 'montserratBold';
$headerFont: 'ralewayBold';
$buttonFont: 'ralewaySemiBold';

// Custom variables
$shadow:0 0 25px rgba(0, 0, 0, 0.25);