extends ../layouts/admin.pug

block head 
    script(type="text/javascript" src="/js/admin_news.js")
    link(rel="stylesheet", href="/css/admin_news.css")
    title Админ | Новости


block content 
    h1.article-header Новости
    seciton.one-section.add-news
        h2.section-header Добавить новость
        section.input.add-news-title-container
            input.add-news-title(type="text", placeholder="Название новости")
            div
        input#add-news-picture(type="file")
        section.add-news-picture-preview
            .add-news-picture-container Добавить изображение
            label.add-news-picture(for="add-news-picture")
        section.textarea.add-news-text-container
            textarea.add-news-text(placeholder="Текст новости...")
            div
        button.add-news-button Добавить
    
    section.one-section.all-news
        h2.section-header Все новости
