extends ../layouts/admin.pug

block head 
    script(type="text/javascript" src="/js/admin_authorization.js")
    link(rel="stylesheet", href="/css/admin_authorization.css")
    title Админ | Авторизация


block content 
    article 
        h1.header Введите пароль администратора
        input.password(type="password")
        button.verify Проверить