extends ../layouts/base.pug
    
block head
    link(rel="stylesheet", href="/css/home.css")
    title Микола Дмитрович | Головна


block scripts 
    script(type="text/javascript" src="/js/home.js")


block content
    header
        section.header-content
            .header-picture
            .header-description
                span Тарасюк Микола Дмитрович
                br
                font
                    | Вчитель інформатики
                    br
                    | ЖЗОШ І-ІІІ ступенів №17
                button.more-button Познайомитися зі мною
    article
        section.about
            section.about-content
                .about-container
                    h2.about-header Чим я займаюсь?
                    h3.about-text
                        | Навчання дітей займає весь мій час! В декілька слів про мою роботу і не скажеш, але маленькою
                        | частиною мого життя я радо з усіма поділюсь. Цей сайт створений не просто для реклами мене, як
                        | вчителя, а й як засіб для навчання дітей. У вирії сучасних подій ми повинні змінювати підхід до
                        | навчання і давати тільки корисні «Скіли» для подальшого навчання.
                    .about-pictures
                        img.about-picture(src="/img/about.jpg")
                        img.about-picture(src="/img/about2.jpg")
        section.teacher
            h2.teacher-header Класне керівництво
            section.teacher-info
                h3.teacher-info-text
                    | 2019 рік для мене цікавий. Я маю багато пропозицій по роботі, по навчанню, але я обираю роботу
                    | в школі і ще беру собі класне керівництво. В моє розпорядження потрапляють 23 хлопці
                    | спеціалізованого футбольного класу. Цікаво те, що це хлопці з двох конкуруючих команд 2007 року
                    | народження і 2008 року. Навчальний рік буде насиченим і головною задачею буде створити
                    | міцний колектив.
            section.teacher-slider
                section.slides-container
                canvas.slider-canvas
        section.lessons
            h2.lessons-header Цікаві уроки
            section.lessons-pictures
            section.lessons-info
                | Блок уроків «Цікаві уроки» введено мною в 8-их класах, оскільки вважаю цей вік дуже творчим і
                | стартом для глибокого вивчення інформатики. На таких уроках діти вчаться взаємодіяти в
                | командах, брати на себе відповідальність, відпрацьовувати майстерність виступати перед
                | публікою, а для мене цей блок цікавий тим, що я постійно в творчому пошуку. Я повинен підібрати
                | різні форми роботи та розробити цікавий роздатковий матеріал.
        section.volunteering
            h3.volunteering-header Волонтерьска діяльність

        footer
            section.media
                a.footer-link.facebook(target="_blank", href="https://www.facebook.com/profile.php?id=100008082162313")
                a.footer-link.instagram(target="_blank", href="https://instagram.com/mykola_tarasiuk?igshid=i7wov7hy0vbu")
            section.developer
                .developer-text
                    | Розроблено Павом Шкаєвом для Тарасюка Миколи Дмитровича (2019)
            section.contacts
                .one-contact.phone +380 93 466 59 91
                .one-contact.mail Zhitomirskazosh17@gmail.com
