extends ../layouts/base.pug
    
block head
    link(rel="stylesheet", href="/css/news.css")
    title Микола Дмитрович | Новини


block scripts
    script(type="text/javascript" src="/js/news.js")


block content
    header
    article
        h2.article-header Шкільні новини
        section.news-list
        section.all-news
