/* ----- MENU ----- */

@keyframes showBottom {
    from {
        bottom:15px;
        transform:rotate(0deg);
    }
    80% {
        bottom:calc(50% + 1px);
        transform:rotate(-50deg);
    }
    to {
        transform:rotate(-45deg);
        bottom:calc(50% - 2px);
    }
}

@keyframes showTop {
    from {
        top:15px;
        transform:rotate(0deg);
    }
    80% {
        top:calc(50% + 1px);
        transform:rotate(50deg);
    }
    to {
        transform:rotate(45deg);
        top:calc(50% - 2px);
    }
}

@keyframes hideBottom {
    from {
        transform:rotate(-45deg);
        bottom:calc(50% - 2px);
    }
    80% {
        bottom:12px;
        transform:rotate(5deg);
    }
    to {
        bottom:15px;
        transform:rotate(0deg);
    }
}

@keyframes hideTop {
    from {
        transform:rotate(45deg);
        top:calc(50% - 2px);
    }
    80% {
        top:12px;
        transform:rotate(-5deg);
    }
    to {
        top:15px;
        transform:rotate(0deg);
    }
}

@media only screen and (max-width: 768px) {
    .top-menu {
        position:fixed;
        top:50px;
        left:100%;
        width:100%;
        height:calc(100% - 50px);
        background:$primaryColor;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        z-index:10000;
        transition:350ms;
        border-bottom-left-radius:100%;
    }
    
    .one-top-menu-link {
        position:relative;
        display:block;
        height:40px;
        font:25px/40px $menuFont;
        color:$textPrimaryColor;
        text-decoration:none;
        text-decoration:none;
    }

    .logo {
        display:none;
    }

    .open-menu {
        position:fixed;
        left:0px;
        top:0px;
        width:100%;
        height:50px;
        background:$defaultBackgroundColor;
        z-index:10000;
    }

    .mobile-logo {
        position:relative;
        height:50px;
        display:block;
        margin:0 0 0 20px;
        font:22px/50px $menuFont;
        color:$primaryColor;
    }

    .open-menu-button, .open-menu-button-s {
        position:absolute;
        right:5px;
        top:0px;
        width:50px;
        height:50px;
        cursor:pointer;
        display:block;
        text-decoration:none;
    }
    .open-menu-button div, .open-menu-button-s div {
        position:absolute;
        width:calc(100% - 20px);
        height:3px;
        background:$defaultTextColor;
        left:10px;
        border-radius:2px;
        opacity:1;
        transition:350ms;
    }
    .open-menu-button div:nth-of-type(1) {
        top:15px;
        animation:350ms hideTop ease-out;
    }
    .open-menu-button div:nth-of-type(2) {
        top:calc(50% - 1.5px);
    }
    .open-menu-button div:nth-of-type(3) {
        bottom:15px;
        animation:350ms hideBottom ease-out;
    }
    .open-menu-button-s div:nth-of-type(1) {
        top:calc(50% - 1.5px);
        transform:rotate(45deg);
        animation:350ms showTop ease-out;
    }
    .open-menu-button-s div:nth-of-type(2) {
        top:calc(50% - 1.5px);
        opacity:0;
    }
    .open-menu-button-s div:nth-of-type(3) {
        bottom:calc(50% - 1.5px);
        transform:rotate(-45deg);
        animation:350ms showBottom ease-out;
    }
}

@media only screen and (min-width:768px) {
    .top-menu {
        position:fixed;
        z-index:10000;
        left:0px;
        top:0px;
        width:100%;
        height:60px;
        background:white;
        display:flex;
        justify-content:flex-end;
    }
    
    .one-top-menu-link:last-of-type {
        margin:0 100px 0 20px;
    }
    
    .one-top-menu-link {
        position:relative;
        height:100%;
        font:19px/60px $menuFont;
        text-align:center;
        color:$defaultTextColor;
        text-decoration:none;
        display:block;
        margin:0 20px;
    }
    
    .logo {
        position:absolute;
        top:0px;
        left:100px;
        background:white;
        width:220px;
        height:100%;
        font:22px/60px 'bebasNeueRegular';
        letter-spacing:1px;
        color:$primaryColor;
        cursor:pointer;
        text-decoration:none;
    }
    .open-menu {
        display:none;
    }
}