@keyframes showModal {
    from {
        height:4px;
        width:0px;
        top:calc(50% - 2px);
        left:50%;
    }
    50% {
        height:4px;
        width:100%;
        left:0px;
        top:calc(50% - 2px);
    }
    to {
        left:0px;
        top:0px;
        width:100%;
        height:100%;
    }
}

@keyframes showContent {
    from {
        opacity:0;
    }
    60% {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#modal {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    background:rgba(0, 0, 0, 0.5);
    justify-content:center;
    align-items:center;
    z-index:999999;
    overflow:hidden;
    cursor:pointer;
}

.closed-modal {
    display:none;
}

.opened-modal {
    display:flex;
    animation:showModal 700ms ease-in-out;
    height:100vh;
}

.closed-modal #modal-content {
    opacity:0;
}

.opened-modal #modal-content {
    animation:showContent 1s ease-in-out;
    opacity:1;
}

#modal-content {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    background:white;
    box-shadow:$shadow;
    overflow:auto;
    flex-shrink:0;
    cursor:default;
    border-radius:4px;
}

#close-modal {
    position:absolute;
    background:$darkSecondaryColor;
    transition:350ms;
    display:block;
    text-decoration:none;
    cursor:pointer;
    border-radius:50%;
    box-shadow:$shadow;
}

#close-modal::after, #close-modal::before {
    content:'';
    display:block;
    position:absolute;
    top:calc(50% - 1.5px);
    height:3px;
    border-radius:2px;
    background:$textSecondaryColor;
}

#close-modal::after {
    transform:rotate(45deg);
}

#close-modal::before {
    transform:rotate(-45deg);
}

.modal-header {
    position:relative;
    color:$defaultTextColor;
    text-align:left;
    width:100%;
    margin-block-start:0;
    margin-block-end:0;
    margin:15px 0 0 0;
}

.modal-picture {
    position:relative;
}

.modal-picture img {
    width:100%;
}

.modal-text {
    font:18px $textFont;
    color:$defaultTextColor;
    margin:0 0 10px 0;
}

@media only screen and (min-width:768px) {
    #modal-content {
        width:860px;
        padding:25px 80px;
        height:calc(100% - 150px);
    }
    #close-modal {
        width:36px;
        height:36px;
        right:calc(50% - 448px);
        top:57px;
    }
    #close-modal::after, #close-modal::before {
        left:4px;
        width:calc(100% - 8px);
    }
    .modal-header {
        font:24px $headerFont;
    }
    .modal-picture {
        width:calc(100% - 200px);
    }
    .modal-text {
        width:calc(100% - 200px);
    }
    .modal-picture img {
        margin:30px 0;
    }
}
@media only screen and (max-width:768px) {
    #modal-content {
        padding:20px;
        width:calc(100% - 40px);
        height:calc(100% - 100px);
    }
    #close-modal {
        width:48px;
        height:48px;
        right:8px;
        top:38px;
    }
    #close-modal::after, #close-modal::before {
        left:7px;
        width:calc(100% - 14px);
    }
    .modal-header {
        font:22px $headerFont;
    }
    .modal-picture {
        width:100%;
    }
    .modal-text {
        width:100%;
    }
    .modal-picture img {
        margin:20px 0;
    }
}


#modal-content::-webkit-scrollbar {
    display:none;
}