doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(type="text/javascript" src="/js/vendors.js")
        script(type="text/javascript" src="/js/admin_menu.js")
        link(rel="stylesheet", href="/css/admin_menu.css")
        block head
    body
        nav.menu
            .menu-header Николай Дмитриевич
        article
            block content
