doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block head
    body
        nav.open-menu
            .mobile-logo Микола Дмитрович
            a#open-menu.open-menu-button
                div
                div
                div
        nav.top-menu
            a.logo Микола Дмитрович
        block content
        script(type="text/javascript" src="/js/vendors.js")
        block scripts
