doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(type="text/javascript" src="/js/vendors.js")
    body(style="display:flex; display:-webkit-flex; align-items:center; -webkit-align-cont:center; flex-direction:column; -webkit-flex-direction:colimn; justify-content:center; -webkit-justify-content:center; position:fixed; width:100%; left:0px; top:0px; height:100%;")
        h1(style="color:rgb(36, 36, 36); font:36px Arial; margin-block-start:0; margin-block-end:0;")
            block code
        h2(style="font:26px Arial; margin-block-start:0; margin-block-end:0;margin:20px 0;")
            block error 
        a(href="/", style="color:rgb(17, 144, 217); font:24px Arial; text-decoration:none;") Перейти на главную
