section.edit-news
    h3.modal-header Редактировать новость
    section.input.edit-news-title-container
        input.edit-news-title(type="text", placeholder="Название новости")
        div
    input#edit-news-picture(type="file")
    section.edit-news-picture-preview
        .edit-news-picture-container Загрузка 
        label.edit-news-picture(for="edit-news-picture")
    section.textarea.edit-news-text-container
        textarea.edit-news-text(placeholder="Текст новости...")
        div
    button.edit-news-button Сохранить
