@import "utils/reset";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "modules/modals";

.menu {
    position:fixed;
    left:0px;
    top:0px;
    background:$defaultBackgroundColor;
    display:flex;
    flex-direction:column;
    width:400px;
    height:calc(100% - 40px);
    padding:20px 0 20px 0;
    overflow:auto;
    box-shadow:$shadow;
}

.menu::-webkit-scrollbar {
    display:none;
}

.menu-header {
    position:relative;
    font:28px $menuFont;
    letter-spacing:1px;
    color:$primaryColor;
    text-align:center;
    margin:5px 0 30px 0;
}

.menu-link {
    position:relative;
    width:100%;
    height:60px;
    padding:5px 20px;
    text-decoration:none;
    display:flex;
    flex-direction:column;
    margin:15px 0;
}


.menu-link::before {
    content:'';
    display:block;
    position:absolute;
    width:6px;
    height:100%;
    background:$defaultTextColor;
    left:0px;
    top:0px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}

.this-menu-link::before {
    background:$primaryColor!important;
}

.menu-link-title {
    font:24px/30px $headerFont;
    color:$defaultTextColor;
}

.menu-link-description {
    font:16px/20px $textFont;
    color:$defaultTextColor;
}

article {
    position:absolute;
    left:400px;
    width:calc(100% - 400px);
    top:0px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:flex-start;
}

.article-header {
    position:relative;
    width:100%;
    margin:36px 0 14px 0;
    font:36px $headerFont;
    color:$defaultTextColor;
    text-align:center;
}

.one-section {
    position:relative;
    width:500px;
    margin:20px auto;
    padding:20px 0;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    box-shadow:$shadow;
    border-radius:5px;
}

.section-header {
    position:relative;
    width:100%;
    text-align:center;
    font:28px $headerFont;
    color:$defaultTextColor;
    margin:10px 0;
}

.input {
    position:relative;
    height:40px;
    padding:0 0 4px 0;
}

.textarea {
    position:relative;
    height:200px;
    padding:0 0 4px 0;
}

.input input {
    position:relative;
    width:100%;
    height:100%;
    padding:0 20px;
    font:18px $textFont;
    color:$defaultTextColor;
    border:none;
    outline:none;
    background:$defaultBackgroundColor;
}

.textarea textarea {
    width:calc(100% - 40px);
    height:calc(100% - 30px);
    padding:15px 0;
    margin:0 20px;
    font:18px $textFont;
    color:$defaultTextColor;
    background:$defaultBackgroundColor;
    border:none;
    border-top:solid 2px $defaultTextColor;
    border-bottom:solid 2px $defaultTextColor;
    outline:none;
    resize:none;
    transition:350ms;
}

.textarea textarea:focus {
    margin:0 0;
    width:100%;
    padding:15px 20px;
    border-top:solid 2px $primaryColor;
    border-bottom:solid 2px $primaryColor;
}

.input div {
    position:absolute;
    width:calc(100% - 40px);
    height:2px;
    background:$defaultTextColor;
    left:20px;
    bottom:5px;
    transition:350ms;
}

.input input:focus ~ div {
    left:0px;
    bottom:0px;
    width:100%;
    background:$primaryColor;
}