@import "utils/reset";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";

article {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:$defaultBackgroundColor;
}

.header {
    position:relative;
    font:28px $headerFont;
    color:$defaultTextColor;
    margin:0 0 15px 0;
}

.password {
    position:relative;
    width:450px;
    height:50px;
    border-radius:10px;
    background:white;
    border:none;
    outline:none;
    font:20px $textFont;
    color:$defaultTextColor;
    box-shadow:$shadow;
    padding:0 30px;
    margin:10px 0 35px 0;
}

.verify {
    position:relative;
    width:450px;
    height:50px;
    background:$textPrimaryColor;
    color:$primaryColor;
    border:solid 2px $primaryColor;
    font:22px $buttonFont;
    outline:none;
    cursor:pointer;
    border-radius:10px;
    transition:350ms;
}

.verify:hover {
    background:$primaryColor;
    color:$textPrimaryColor;
}