@import "utils/reset";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";

.add-news-title-container {
    width:calc(100% - 80px);
    margin:6px 0 30px 0;
}

.add-news-text-container {
    width:calc(100% - 80px);
    margin:6px 0;
}

#add-news-picture, #edit-news-picture {
    display:none;
}

.add-news-picture-preview, .edit-news-picture-preview {
    position:relative;
    width:380px;
    height:285px;
    background:white;
    border:solid 2px $defaultTextColor;
    margin:0 0 30px 0;
    border-radius:5px;
}

.add-news-picture-container, .edit-news-picture-container {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    overflow:hidden;
    text-align:center;
    font:24px/285px $buttonFont;
    color:$defaultTextColor;
    z-index:1;
}

.add-news-picture-container img, .edit-news-picture-container img {
    position:absolute;
    height:100%;
    top:0px;
}

.add-news-picture, .edit-news-picture {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    z-index:2;
    opacity:0;
    cursor:pointer;
    background-color:rgba(0, 0, 0, 0.5);
    background-size:80px auto;
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url('/img/add_image.svg');
    transition:350ms;
}

.add-news-picture:hover, .edit-news-picture:hover {
    opacity:1;
}

.add-news-button, .edit-news-button {
    position:relative;
    width:210px;
    height:40px;
    background:$defaultBackgroundColor;
    color:$primaryColor;
    border:solid 2px $primaryColor;
    border-radius:4px;
    margin:30px 0 20px 0;
    font:20px $buttonFont;
    cursor:pointer;
    outline:none;
    transition:350ms;
}

.add-news-button:hover, .edit-news-button:hover {
    color:$defaultBackgroundColor;
    background:$primaryColor;
}

.one-news {
    position:relative;
    width:calc(100% - 80px);
    height:36px;
    margin:15px 80px;
    display:flex;
    flex-direction:row;
}

.one-news-title {
    position:relative;
    width:calc(100% - 72px);
    font:20px/36px $headerFont;
    color:$defaultTextColor;
}

.delete-one-news, .edit-one-news {
    position:relative;
    width:36px;
    height:36px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:transparent;
    background-size:32px 32px;
    background-position:center center;
    background-repeat:no-repeat;
}

.delete-one-news {
    background-image:url('/img/delete.svg');
}
.edit-one-news {
    background-image:url('/img/edit.svg');
}

.edit-news {
    position:relative;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.modal-header {
    text-align:center!important;
}

.edit-news-title-container {
    width:600px;
    margin:10px 0 30px 0;
}

.edit-news-text-container {
    width:600px;
    margin:10px 0;
}