@import "utils/reset";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "modules/menu";
@import "modules/modals";

body {
    margin:0;
}

*::-webkit-scrollbar {
    display:none;
}

* {
    scrollbar-width:none;
    -ms-overflow-style: none;
}

/* ----- CONTAINERS ----- */

header {
    width:100%;
    background-color:$defaultBackgroundColor;
    flex-direction:row;
    justify-content:center;
}

@media only screen and (max-width:768px) {
    header {
        position:relative;
        flex-wrap:wrap;
        margin:50px 0 0 0;
    }
    article {
        position:relative;
    }
}
@media only screen and (min-width:768px) {
    header {
        position:absolute;
        top:60px;
        left:0px;
        height:calc(100vh - 60px);
        display:flex;
        align-items:center;
    }
    article {
        position:absolute;
        left:0px;
        top:100vh;
    }
}

/* ----- HEADER ----- */

.header-content {
    position:relative;
    display:flex;
    flex-direction:row;
}

.header-picture {
    position:relative;
    background-color:transparent;
    background-size:100% 100%;
    background-image:url('/img/header1.jpg');
    box-shadow:$shadow;
}

.header-description {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:space-between;
}

.header-description font {
    display:block;
    position:relative;
    width:100%;
    color:$defaultTextColor;
    font-variant:lining-nums;
}

.header-description span {
    display:block;
}

.more-button {
    position:relative;
    width:250px;
    height:40px;
    border:solid 2px $darkSecondaryColor;
    background:transparent;
    color:$darkSecondaryColor;
    font:19px $buttonFont;
    cursor:pointer;
    margin:25px 0 0 0;
    transition:350ms;
    outline:none;
    border-radius:2px;
}

.more-button:hover {
    background:$darkSecondaryColor;
    color:$defaultBackgroundColor;
}

@media only screen and (max-width:768px) {
    .header-content {
        width:100%;
        margin:0 0 20px 0;
        flex-wrap:wrap;
    }
    .header-picture {
        width:100vw;
        height:100vw;
    }
    .header-description {
        width:calc(100% - 40px);
        margin:30px 20px 10px 20px;
    }
    .header-description font {
        font:22px/32px $textFont;
    }
    .header-description span {
        font:28px/32px $textFontBold;
        margin:0 0 20px 0;
    }
}
@media only screen and (min-width:768px) {
    .header-content {
        width:730px;
    }
    .header-picture {
        border-radius:50%;
        width:200px;
        height:200px;
    }
    .header-description {
        width:calc(100% - 230px);
        margin:0 0 0 30px;
    }
    .header-description font {
        font:28px/36px $textFont;
    }
    .header-description span {
        font:32px/32px $textFontBold;
    }
}

/* ----- ABOUT TEACHER ----- */

.about {
    position:relative;
    width:100vw;
    background-color:$primaryColor;
}

.about-container {
    display:flex;
    flex-direction:column;
}

.about-header, .lessons-header {
    color:$textPrimaryColor;
    text-align:left;
    margin-block-start:0;
    margin-block-end:0;
}

.about-text {
    font-variant:lining-nums;
    color:$textPrimaryColor;
    display:block;
}

.about-pictures {
    position:relative;
}

.about-picture {
    position:relative;
    box-shadow:$shadow;
}

@media only screen and (max-width:768px) {
    .about-content {
        position:relative;
        width:100%;
    }
    .about-container {
        position:relative;
        width:calc(100% - 40px);
        margin:20px;
    }
    .about-header, .lessons-header {
        width:100%;
        font:28px/32px $headerFont;
        margin:40px 0 25px 0;
    }
    .about-text {
        width:100%;
        margin:0 0 20px 0;
        font:17px $textFont;
    }
    .about-pictures {
        width:100%;
        margin:20px 0 40px 0;
    }
    .about-picture {
        width:calc(50% - 5px);
        float:left;
    }
    .about-picture:first-of-type {
        margin:0 10px 0 0;
    }
}
@media only screen and (min-width:768px) {
    .about {
        height:calc(100vh - 60px);
        background-image:url('/img/bg1.jpg');
        background-repeat:no-repeat;
        background-size:100% auto;
        background-position:center 0px;
    }
    .about-content {
        position:absolute;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.25);
        overflow:hidden;
    }
    .about-container {
        position:absolute;
        width:600px;
        height:100%;
        top:0px;
        right:0px;
        justify-content:center;
        background:$primaryColor;
    }
    .about-container::before {
        content:'';
        display:block;
        position:absolute;
        width:100%;
        height:calc(100% * 1.1);
        left:0px;
        top:0px;
        transform:rotate(20deg);
        background:inherit;
        transform-origin:0px 0px;
        z-index:0;
        box-shadow:$shadow;
    }
    .about-container::after {
        content:'';
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        left:0px;
        top:0px;
        background:inherit;
        z-index:0;
    }
    .about-header {
        width:calc(100% - 130px);
        font:36px $headerFont;
        margin:0 100px 0 30px;
        z-index:1;
    }
    .about-text {
        width:470px;
        margin:50px 100px 50px 30px;
        font:18px $textFont;
        z-index:1;
    }
    .about-pictures {
        width:calc(100% - 130px);
        margin:0 100px 0 30px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        z-index:2;
    }
    .about-picture {
        width:199px;
        height:302px;
    }
}

/* ----- CLASSROOM TEACHER ----- */


.teacher {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background:$defaultBackgroundColor;
}

.teacher-header, .volunteering-header {
    position:relative;
    width:100%;
    color:$defaultTextColor;
    text-align:center;
    margin-block-start:0;
    margin-block-end:0;
}

.teacher-header::after, .volunteering-header::after {
    display:block;
    content:'';
    position:absolute;
    width:160px;
    height:4px;
    background:$secondaryColor;
    left:calc(50% - 80px);
    bottom:-12px;
}

.teacher-info {
    position:relative;
}

.teacher-info-text {
    position:relative;
    width:100%;
    color:$defaultTextColor;
    transition:350ms;
}

.teacher-slider {
    position:relative;
}

.slides-container {
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
}

.one-teacher-slide img {
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
}

@media only screen and (max-width:768px) {
    .teacher {
        width:100%;
    }
    .teacher-header {
        margin:20px 0 25px 0;
        font:28px/36px $headerFont;
        order:0;
    }
    .teacher-info {
        width:calc(100% - 40px);
        margin:0 20px 30px 20px;
        order:2;
    }
    .teacher-info-text {
        left:0px;
        font:18px $textFont;
    }
    .teacher-slider {
        width:100vw;
        height:calc(100vw / 4 * 3);
        margin:15px 0 15px 0;
        overflow:hidden;
        order:1;
    }
    .slides-container {
        transition:350ms;
        display:flex;
        flex-direction:row;
    }
    .one-teacher-slide {
        flex-shrink:0;
        position:relative;
        width:100vw;
        height:calc(100vw * 3 / 4);
    }
    .slider-canvas {
        z-index:2;
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        cursor:pointer;
    }
}
@media only screen and (min-width:768px) {
    .teacher {
        width:1170px;
        height:calc(100vh - 60px);
        margin:0 calc(50% - 585px);
        align-items:flex-start;
        justify-content:space-between;
    }
    .teacher-header, .volunteering-header {
        margin:20px 0;
        font:36px/48px $headerFont;
    }
    .teacher-info {
        width:340px;
        height:calc(100% - 76px);
        margin:0;
        display:flex;
        align-items:center;
    }
    .teacher-info-text {
        left:-100px;
        font:18px $textFont;
    }
    .teacher-slider {
        width:calc(100vw - 560px);
        height:400px;
        margin:auto 0 auto 60px;
        overflow:visible;
    }
    .one-teacher-slide {
        position:absolute;
        box-shadow:$shadow;
        cursor:pointer;
        transition:500ms;
    }
    .slider-canvas {
        display:none;
    }
}

/* ----- INTERESTING LESSONS ----- */

.lessons {
    position:relative;
    margin:0;
    background:$primaryColor;
    min-height:calc(100vh - 60px);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
}

.lessons-info {
    position:relative;
    opacity:0;
    color:$textPrimaryColor;
    transition:350ms;
}

.lessons-pictures {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}

.one-lesson-picture {
    position:relative;
    transition:350ms;
    opacity:0;
    top:40px;
    transform:scale(0.8);
}

.one-lesson-picture img {
    box-shadow:$shadow;
}

@media only screen and (max-width:768px) {
    .lessons {
        width:100%;
        padding:0 20px 30px 20px;
    }
    .lessons-info {
        width:100%;
        margin:4px 0 30px 0;
        font:18px $textFont;
        order:1;
    }
    .lessons-pictures {
        order:2;
        width:100%;
    }
    .one-lesson-picture {
        margin:5px 0;
        width:calc(100% / 2 - 10px);
    }
    .one-lesson-picture:nth-of-type(9) {
        display:none;
    }
    .one-lesson-picture img {
        width:calc((100vw - 40px) / 2 - 10px);
        height:calc(((100vw - 40px) / 2 - 10px) * 3 / 4);
    }
}
@media only screen and (min-width:768px) {
    .lessons {
        width:100%;
        padding:60px 100px;
    }
    .lessons-header {
        display:none;
    }
    .lessons-info {
        left:100px;
        width:400px;
        margin:0 0 0 80px;
        font:18px $textFont;
    }
    .lessons-pictures {
        width:calc(100% - 480px);
    }
    .one-lesson-picture {
        margin:12px 0;
        width:calc(100% / 3 - 20px);
    }
    .one-lesson-picture img {
        width:calc((100vw - 680px) / 3 - 20px);
        height:calc(((100vw - 680px) / 3 - 20px) * 3 / 4);
    }
}


/* ----- VOLUNTEERING ----- */

.volunteering {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:baseline;
    justify-content:space-between;
    background:$defaultBackgroundColor;
}

.one-volunteering {
    position:relative;
    transition:350ms;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}

.one-volunteering-picture {
    width:100%;
    position:relative;
    overflow:hidden;
    order:1;
    flex-shrink:0;
}

.one-volunteering-picture img {
    width:100%;
}

.one-volunteering-description {
    font:18px $textFont;
    color:$defaultTextColor;
    order:2;
}

.open-volunteering {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background-color:rgba(0, 0, 0, 0.3);
    background-size:70px 70px;
    background-position:center center;
    background-image:url('/img/add.svg');
    background-repeat:no-repeat;
    overflow:hidden;
    border:none;
    opacity:0;
    cursor:pointer;
    transition:350ms;
}

.open-volunteering:hover {
    opacity:1;
}

@media only screen and (max-width:768px) {
    .volunteering-header {
        margin:30px 0 20px 0;
        font:28px/36px $headerFont;
    }
    .volunteering {
        width:100%;
        margin:10px 0 0 0;
    }
    .one-volunteering {
        width:100%;
        margin:20px 0;
    }
    .one-volunteering-description {
        width:calc(100% - 40px);
        margin:10px 20px 0 20px;
    }
}
@media only screen and (min-width:768px) {
    .volunteering {
        width:calc(100% - 200px);
        margin:0 100px 10px 100px;
    }
    .one-volunteering {
        width:calc(100% / 3 - 40px);
        margin:20px 0;
    }
    .one-volunteering-picture {
        box-shadow:$shadow;
    }
    .one-volunteering-description {
        width:100%;
        margin:20px 0 0 0;
    }
}

/* ---- FOOTER ----- */

footer {
    position:relative;
    background:$primaryColor;
    display:flex;
}

.media, .developer, .contacts {
    position:relative;
    display:flex;
}

.media {
    flex-direction:row;
    flex-wrap:wrap;
}

.developer {
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
}

.contacts {
    flex-direction:column;
}

.footer-link {
    display:block;
    width:32px;
    height:32px;
    text-decoration:none;
    cursor:pointer;
    background-color:transparent;
    background-size:100% 100%;
    margin:0 5px;
}

.facebook {
    background-image:url('/img/facebook.svg');
}

.instagram {
    background-image:url('/img/instagram.svg');
}

.developer-text {
    position:relative;
    width:100%;
    color:$textPrimaryColor;
    text-align:center;
}

.one-contact {
    position:relative;
    color:$textPrimaryColor;
}

.one-contact::before {
    content:'';
    display:block;
    position:absolute;
    width:30px;
    height:30px;
    left:-35px;
    background-color:transparent;
    background-size:100% 100%;
}

.mail::before {
    background-image:url('/img/mail.svg');
}

.phone::before {
    background-image:url('/img/phone.svg');
}

@media only screen and (max-width:768px) {
    footer {
        flex-direction:column;
        justify-content:space-between;
        padding:20px;
        width:100%;
    }
    .media, .developer, .contacts {
        width:100%;
    }
    .media {
        order:1;
        margin:10px 0;
    }
    .developer {
        order:2;
    }
    .contacts {
        order:0;
    }
    .one-contact {
        margin:10px 0 10px 35px;
    }
    .developer-text {
        font:14px $textFont;
    }
    .one-contact {
        font:16px/30px $textFont;
    }
}
@media only screen and (min-width:768px) {
    footer {
        height:140px;
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-end;
        padding:20px 100px;
        width:100%;
    }
    .media, .developer, .contacts {
        width:calc((100% - 200px) / 3);
    }
    .contacts {
        align-items:flex-end;
    }
    .one-contact {
        margin:10px 0;
    }
    .developer-text {
        font:16px $textFont;
    }
    .one-contact {
        font:18px/30px $textFont;
    }
}