@import "utils/reset";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "modules/menu";

body {
    margin:0;
    background:$defaultBackgroundColor;
}

*::-webkit-scrollbar {
    display:none;
}

article {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.all-news {
    position:relative;
    display:flex;
    flex-direction:column;
}

.article-header {
    position:relative;
    width:100%;
    color:$defaultTextColor;
    text-align:center;
    margin-block-start:0;
    margin-block-end:0;
}

.article-header::after {
    content:'';
    display:block;
    position:absolute;
    width:150px;
    height:4px;
    background:$secondaryColor;
    left:calc(50% - 75px);
}

.one-news {
    position:relative;
    display:flex;
    width:100%;
    flex-direction:column;
    margin:40px 0;
}
.one-news-title {
    position:relative;
    color:$defaultTextColor;
}

.one-news-date {
    position:relative;
    font:14px $headerFont;
    font-variant:lining-nums;
    color:$defaultTextColor;
    opacity:0.8;
}

.one-news-text {
    color:$defaultTextColor;
    white-space:pre-wrap;
}

@media only screen and (max-width: 768px) {
    article {
        width:100%;
        margin:50px 0 0 0;
    }
    .article-header {
        font:28px $headerFont;
        margin:10px 0 10px 0;
    }
    .article-header::after {
        bottom:-12px;
    }
    .all-news {
        width:100%;
    }
    .one-news-title {
        margin:20px 20px 5px 20px;
        font:24px $headerFont;
    }
    .one-news-date {
        margin:0 20px 25px 20px;
    }
    .one-news-image {
        width:100%;
    }
    .one-news-text {
        width:calc(100% - 40px);
        margin:20px 20px 0 20px;
        font:17px $textFont;
    }
    .news-list {
        display:none;
    }
}
@media only screen and (min-width: 768px) {
    article {
        width:calc(100% - 200px);
        margin:60px 100px 0 100px;
        justify-content:flex-start;
    }
    .article-header {
        font:36px $headerFont;
        margin:10px 0 10px 0;
    }
    .article-header::after {
        bottom:-10px;
    }
    .all-news {
        width:calc(100% - 400px);
        max-width:700px;
        margin:0 0 0 400px;
    }
    .one-news-title {
        margin:20px 0 10px 0;
        font:28px $headerFont;
    }
    .one-news-date {
        margin:0 0 30px 0;
    }
    .one-news-image {
        width:calc(100% - 100px);
    }
    .one-news-text {
        width:calc(100% - 100px);
        margin:30px 0 0 0;
        font:18px $textFont;
    }
    .news-list {
        position:fixed;
        left:100px;
        top:150px;
        width:300px;
        display:flex;
        flex-direction:column;
    }    
    .one-list-news, .one-list-news-selected {
        position:relative;
        width:100%;
        background:transparent;
        margin:8px 0;
        overflow:hidden;
        transition:300ms;
    }
    
    .one-list-news {
        height:30px;
    }
    
    .one-list-news .one-list-news-title {
        font:20px/30px $headerFont;
    }
    
    .one-list-news-selected {
        height:40px;
    }
    
    .one-list-news-selected .one-list-news-title {
        font:26px/40px $headerFont;
        white-space:nowrap;
        color:black!important;
    }
    
    .one-list-news:hover .one-list-news-title {
        left:10px;
    }
    
    .one-list-news-title {
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        color:$defaultTextColor;
        transition:300ms;
    }
    .one-list-news-button {
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        z-index:2;
        background:transparent;
        cursor:pointer;
        border:none;
        outline:none;
    }
}